* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, p{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
html {
    scroll-behavior: smooth;
}
.container{
    height: 5953px;
    width: 1440px;
    border: 1px solid red;
    margin: 0 auto;
    background: #F5F3F4;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    border: 1px solid rgb(27, 17, 17);
}
.menu-ul li{
    display: inline-block;
    padding-right: 48px;
}
.menu-ul li a{
    color: rgba(18, 16, 12, 0.7);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.login-button{
    background: #12100C;
    padding: 6px 23px;
    border-radius: 12px;
    color: white;
}
